@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-weight: normal!important;
  }
  
  :root {
    --accent-colour: '#db4d68';
  }

  html body {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
  }

  @font-face {
    font-family: 'Peace';
    src: url('/Peace-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: ' ⌄';
  }

  details[open] summary:after {
    content: ' ⌄';
        transform: rotate(180deg);

  }
}

@layer components {
  .ui-xs {
    @apply text-xs;
  }
  .ui-sm {
    @apply text-sm;
  }
  .ui-base {
    @apply text-base;
  }
  .ui-lg {
    @apply text-lg;
  }
  .ui-xl {
    @apply text-xl;
  }
  .ui-2xl {
    @apply text-2xl;
  }
  .ui-3xl {
    @apply text-3xl;
  }
  .ui-4xl {
    @apply text-4xl;
  }
  .ui-5xl {
    @apply text-5xl;
  }
  .ui-6xl {
    @apply text-6xl;
  }
  .bl-heading-sm {
    @apply text-sm;
  }
  .bl-heading-base {
    @apply text-xl;
  }
  .bl-heading-lg {
    @apply text-2xl;
  }
  .bl-heading-xl {
    @apply text-4xl;
  }
  .bl-heading-2xl {
    @apply text-5xl;
  }
  .bl-heading-3xl {
    @apply text-6xl;
  }
  .bl-quote {
    @apply text-4xl;
  }
  .bl-body {
    @apply text-base font-serif leading-snug;
  }
  .bl-body-alt {
    @apply text-base;
  }
  .bl-body-lg {
    @apply text-xl;
  }
}
