@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
  }

  @font-face {
    font-family: 'Peace2020';
    src: url('/fonts/Peace2020-Medium.woff2') format('woff2'),
      url('/fonts/Peace2020-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Peace';
    src: url('/fonts/Peace-Medium.woff') format('woff'),;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: ' ⌄';
  }

  details[open] summary:after {
    content: ' ⌄';
    transform: rotate(180deg);
  }

  .line-clamp-short {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0.25em;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0.25em;
  }

  .no-line-clamp {
    display: inline;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: none;
  }

}

/* @layer components {
  .text-sm {
    @apply text-sm-xs sm:text-sm-sm md:text-sm-md lg:text-sm-lg leading-[120%];
  }
  .text-base {
    @apply text-base-xs sm:text-base-sm md:text-base-md lg:text-base-lg leading-[110%];
  }
  .text-lg {
    @apply text-lg-xs sm:text-lg-sm md:text-lg-md lg:text-lg-lg leading-[110%];
  }
  .text-xl {
    @apply text-xl-xs sm:text-xl-sm md:text-xl-md lg:text-xl-lg leading-[110%];
  }
  .text-2xl {
    @apply text-2xl-xs sm:text-2xl-sm md:text-2xl-md lg:text-2xl-lg leading-[100%];
  }
} */

@layer components {
  .prose {
    @apply max-w-xl mx-auto;
  }
  .link {
    @apply w-max leading-none focus:outline-none focus:border-none focus-visible:underline;
  }
}

@layer components {
  .button-none {
    @apply p-0;
  }
  .button-16 {
    @apply text-16;
  }
  .button-18 {
    @apply text-18 py-2 px-2;
  }
  .button-24 {
    @apply text-24 py-3 px-3;
  }
  .button-32 {
    @apply text-32 px-4 py-3;
  }
  .button-40 {
    @apply text-40;
  }
  .button-56 {
    @apply text-56;
  }
  .button-68 {
    @apply text-68;
  }
}
